<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File System</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container">
    <h1>File System</h1>

    <table class="table">
    <tbody>
      {{range .}}
      <tr>
        <td><a href="/?path={{.FullName}}">{{.Name}}</a></td>
      </tr>
      {{end}}
    </tbody>
    </table>
  </div>
</body>
</html>
