<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File System</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container">
    <h1>File System</h1>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="showHiddenFlag"/> Show hidden files
      </label>
    </div>

    <table class="table">
    <tbody>
      {{range .}}
      <tr>
        <td>
          <a href="/?path={{.FullName}}">
            {{if .IsParent}}
              <span class="glyphicon glyphicon-level-up"></span>
            {{else}}
              {{if .IsDir}}
                <span class="glyphicon glyphicon-folder-close"></span>
              {{else}}
                <span class="glyphicon glyphicon-file"></span>
              {{end}}
            {{end}}
            {{.Name}}
          </a>
        </td>
      </tr>
      {{end}}
    </tbody>
    </table>
  </div>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
  $(function () {
    var showHiddenFlag = $('#showHiddenFlag');
    showHiddenFlag.change(function () {
      console.log(showHiddenFlag.is(':checked'));
    });
  });
  </script>
</body>
</html>
