<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image gallery</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container">
    <h1>Image gallery</h1>

    {{range .}}
    <div class="col-lg-4">
      <img src="/images/{{.Src}}" alt="{{.Src}}" class="img-responsive">
    </div>
    {{end}}
  </div>

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
</body>
</html>
